<?xml version="1.0" encoding="UTF-8"?>

<root>
	<imageView>
		<backgroundColor>0</backgroundColor>
		<clockSize>48</clockSize>
		<showTime>true</showTime>
		<showPageNr>true</showPageNr>
		<alwaysShowChapter>true</alwaysShowChapter>
		<debug>false</debug>
	</imageView>
	<video>
		<width>0</width>
		<height>0</height>
		<targetFPS>-1</targetFPS>
		<showFPS>false</showFPS>
		<bicubicFiltering>false</bicubicFiltering>
		<monitor>3</monitor>
		<dodgeTaskbar>0</dodgeTaskbar>
		<windowDecoration>false</windowDecoration>
		<alwaysRender>false</alwaysRender>
	</video>
	<menu>
		<flavor>2</flavor>
		<mangaMode>0</mangaMode>
		<background>steins_gate_01.png</background>
		<download_background>hyouka_01.png</download_background>
		<settings_background>psycho_pass_03.jpg</settings_background>
		<reloadPopularAfterDays>3</reloadPopularAfterDays>
		<reloadSearchAfterDays>1</reloadSearchAfterDays>
		<searchHistoryMax>25</searchHistoryMax>
		<glassAlpha>0.125</glassAlpha>
	</menu>
	<general>
		<bootInto>0</bootInto>
		<mangaDir>H:/Mangas</mangaDir>
		<metaIn>D:/Google Drive/Data/Manga-Metadata</metaIn>
		<mangadlPath></mangadlPath>
		<mangaAutoUpdate>true</mangaAutoUpdate>
		<automaticChapterSubstitution>true</automaticChapterSubstitution>
		<updateEveryHours>24</updateEveryHours>
		<lastUpdated>1537479975730</lastUpdated>
	</general>
	<MAL>
		<userName>Deconimus</userName>
		<password>YVcyBZoE4P/GmtpbdEbUMw==</password>
		<sync>true</sync>
	</MAL>
</root>
